<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bos.payment.appName">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".localdb.Controller"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/companylogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/companylogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BOS_App"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".ui.view.promocode.PromocodeDetailsPage"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.promocode.PromocodeListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".notification.NotificationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.subscriptionservices.RenewServicesReport"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BOS_App" />

        <activity
            android:name=".ui.view.subscriptionservices.RenewServices"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.view.travel.busactivity.BusFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BOS_App" />

        <activity
            android:name=".ui.view.Dashboard.activity.ManageKYC"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.Dashboard.activity.AadharCardWebViewDIGILockerPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.Dashboard.transactionreports.VPATransactionReports"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BOS_App" />

        <activity
            android:name=".ui.view.makepayment.MakepaymentReports"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BOS_App" />

        <activity
            android:name=".ui.view.makepayment.AdminBankListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BOS_App" />

        <activity
            android:name=".ui.view.makepayment.MakePaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BOS_App" />

        <activity
            android:name=".ui.view.supportmanagement.ChatToAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.supportmanagement.TicketStatus"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.Dashboard.transactionreports.RaiseTicketActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.Dashboard.transactionreports.TransactionReportsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BOS_App" />

        <activity
            android:name=".ui.view.Dashboard.ToSelf.ToSelfMoneyTransferPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.view.Dashboard.tomobile.SendWalletAmountPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.view.Dashboard.tomobile.ToMobileSendMoneyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.Dashboard.activity.AllServicesSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.Dashboard.activity.JustPeDashboard"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BOS_App" />

        <activity
            android:name=".ui.view.travel.flightBooking.activity.FlightBookingPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.travel.flightBooking.activity.FlightBookedTicketActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.travel.flightBooking.activity.AddDetailsPassangerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.travel.flightBooking.activity.FlightFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.view.travel.flightBooking.activity.FlightDetailListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.travel.busactivity.BusHistory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.travel.busactivity.MyBookingBusActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.view.idfcPayout.Payout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.travel.busactivity.SeatBookingConfirmation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.travel.busactivity.BusSeating"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.travel.busactivity.BusSearchDetails"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.Dashboard.dmt.FingerCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

        <meta-data
            android:name="com.mantra.mfs100.LIBRARY"
            android:screenOrientation="portrait"
            android:value="true" />

        <activity
            android:name=".ui.view.Dashboard.dmt.PayoutDMT"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.moneyTransfer.ScanAndPaySuccessFulPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.CreditCardSuccessfulScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.dmt.DMTRechargeSuccessfulPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.activity.MakePayment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.IdentifyClient"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.activity.RechargeHistory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.activity.ProfileUpdated"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.activity.GenerateQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.moneyTransfer.ScannerFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.moneyTransfer.DisplayDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.activity.ServiceWiseTransaction"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.activity.ChangePassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.activity.UpdateKYC"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.activity.ChangePin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.FingerprintActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.PayUMoneyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.rechargeactivity.ViewRechargePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.dmt.DMTReciepintDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.view.Dashboard.dmt.DMTCustomerDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.dmt.DMTMobileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.Wallet.RechargeDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.rechargeactivity.RechargeSuccessfulPageActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.view.Dashboard.Wallet.MyWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.Wallet.AddAmountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.Wallet.LoadWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.Wallet.WalletPayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.Dashboard.activity.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.view.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>


        <activity
            android:name=".ui.view.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Alias for User Type 1 -->
        <activity-alias
            android:name=".ui.view.UserType1Alias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/pay_indialogo"
            android:label="@string/Pay_india"
            android:targetActivity=".ui.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias> <!-- Alias for User Type 1 -->
        <!-- Alias for User Type 2 -->
        <activity-alias
            android:name=".ui.view.UserType2Alias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/amazingpay_logo"
            android:label="@string/Amazing_pay"
            android:targetActivity=".ui.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.view.UserType3Alias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/pic"
            android:label="@string/Bos_Pay"
            android:targetActivity=".ui.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>